@import "../../assets/scss/variables";

.header {
  background: url("../../assets/images/header-background.svg") no-repeat 50% 0;
  background-size: cover;
  font-size: $middle-font-size;
  line-height: $middle-line-height + 5px;
  color: $white;
  text-align: center;
  padding: 31px 0 58px;
  position: relative;
  z-index: 2;
  .logo-container {
    padding: 0 0 27px;
    text-align: center;
    border-bottom: 2px solid $white;
    display: flex;
    justify-content: center;
    margin: 0 0 80px;
  }
  .text-container {
    max-width: 800px;
    margin: 0 auto;
  }
  h1 {
    margin: 0 0 20px;
    color: $white;
  }
}

