@import "../../assets/scss/variables";

.footer {
  padding: 15px 0 0;
  @media (min-width: 768px) {
    padding: 37px 0 22px;
  }
  .wrap {
    text-align: center;
  }
  .logo {
    margin: 0 0 11px;
    @media (min-width: 768px) {
      margin: 0 0 18px;
    }
  }
  .copyright {
    font-size: $small-font-size;
    line-height: $small-line-height;
    margin: 0 0 10px;
    @media (min-width: 768px) {
      font-size: $desktop-small-font-size;
      line-height: $desktop-small-line-height;
    }
  }
  .socials-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    li {margin: 0 10px 10px;}
    a {
      font-family: $fa-font-path;
      font-size: 18px;
      color: $blue;
    }
  }
}
