<footer class="footer">
  <div class="wrap">
    <strong class="logo">
      <a href="#">
        <img class="logo-placeholder black" src="" alt="logo">
      </a>
    </strong>
    <p class="copyright">&copy; The Paved Road. All Rights Reserved.</p>
    <ul class="socials-list">
      <li class="facebook">
        <a href="#" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li class="twitter">
        <a href="#" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</footer>
