<section class="promo-content">
  <!--<span class="ill"></span>-->
  <!--<span class="ill second"></span>-->
  <!--<span class="ill third"></span>-->
  <!--<span class="ill fourth"></span>-->
  <!--<span class="ill fifth"></span>-->
  <!--<span class="ill sixth"></span>-->
  <!--<span class="ill seventh"></span>-->
  <!--<span class="ill eighth"></span>-->
  <!--<span class="ill ninth"></span>-->
  <div class="road-container">
    <div class="road-map"></div>
    <div class="step first" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
    <div class="step second" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
    <div class="step third" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
    <div class="step fourth" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
    <div class="step fifth" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
    <div class="step sixth" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
    <div class="step seventh" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
    <div class="step eighth" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
    <div class="step ninth" #step>
      <div class="box">
        <button type="button" class="btn slide-right" >MEETING THE COMMUNITY</button>
      </div>
      <div class="btn-pic"></div>
    </div>
  </div>
</section>
