@import "../../assets/scss/variables";

.promo-content {
  position: relative;
  //.ill {
  //  position: absolute;
  //  background: url("../../assets/images/dot-med.svg") no-repeat;
  //  width: 100px;
  //  height: 100px;
  //  top: 0;
  //  right: 0;
  //  &.second {
  //    background: url("../../assets/images/landcluster-1.svg") no-repeat;
  //    width: 500px;
  //    height: 500px;
  //    top: 0;
  //    left: 0;
  //  }
  //  &.third {
  //    background: url("../../assets/images/landcluster-2.svg") no-repeat;
  //    width: 500px;
  //    height: 500px;
  //    top: 200px;
  //    right: 0;
  //  }
  //  &.fourth {
  //    width: 100px;
  //    height: 100px;
  //    top: 200px;
  //    left: 0;
  //  }
  //  &.fifth {
  //    background: url("../../assets/images/landcluster-2.svg") no-repeat;
  //    width: 500px;
  //    height: 500px;
  //    top: 400px;
  //    right: 0
  //  }
  //  &.sixth {
  //    background: url("../../assets/images/landcluster-3.svg") no-repeat;
  //    width: 500px;
  //    height: 500px;
  //    top: 600px;
  //    left: 0;
  //  }
  //  &.sixth {
  //    background: url("../../assets/images/dot-large.svg") no-repeat;
  //    width: 500px;
  //    height: 500px;
  //    top: 600px;
  //    right: 0;
  //  }
  //  &.seventh {
  //    background: url("../../assets/images/dot-small.svg") no-repeat;
  //    width: 200px;
  //    height: 200px;
  //    top: 700px;
  //    right: 0;
  //  }
  //  &.eighth {
  //    background: url("../../assets/images/landcluster-4.svg") no-repeat;
  //    width: 200px;
  //    height: 200px;
  //    top: 900px;
  //    right: 0;
  //  }
  //  &.ninth {
  //    background: url("../../assets/images/dot-large.svg") no-repeat;
  //    width: 200px;
  //    height: 200px;
  //    top: 900px;
  //    right: 0;
  //  }
  //}



  .road-container {
    display: flex;
    justify-content: center;
  }
  .road-map {
    background: url("../../assets/images/road.svg") no-repeat 50% -1px;
    min-height: 1536px;
    width: 434px;
    position: relative;
    background-size: 81%;
  }
  .step {
    position: absolute;
    top: 5px;
    left: 50%;
    margin: 0 0 0 -66px;
    .btn-pic {
      background: url("../../assets/images/map-marker.svg") no-repeat 0 0;
      width: 75px;
      height: 75px;
      background-size: 100%;
      position: relative;
    }
    .box {
      padding: 14px 0 0 17px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.second {
      top: 182px;
      margin: 0 0 0 22px;
    }
    &.third {
      top: 400px;
      margin: 0 0 0 106px;
    }
    &.fourth {
      top: 618px;
      margin: 0 0 0 -85px;
    }
    &.fifth {
      top: 824px;
      margin: 0 0 0 -203px;
    }
    &.sixth {
      top: 941px;
    }
    &.seventh {
      margin: 0 0 0 19px;
      top: 1080px;
    }
    &.eighth {
      top: 1223px;
      margin: 0 0 0 -2px;
    }
    &.ninth {
      margin: 0 0 0 -83px;
      top: 1416px;
    }
    &.active {
      .btn {
        opacity: 1;
      }
    }
  }
  .btn {
    font: 700 #{$button-font-size}/#{$button-line-height} $main-font;
    background: $white;
    color: $blue-darker;
    opacity: 0;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    height: $button-line-height + 2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 2px solid $blue-darker;
    padding: 0 36px 0 50px;
    margin: 0;
    width: 100%;
    transition: opacity 0.8s;
    &:hover {
      background: $blue-darker;
      color: $white;
    }
  }
}
