<header class="header">
  <div class="logo-container">
    <div class="container">
      <strong class="logo">
        <a href="#">
          <img class="logo-placeholder" src="" alt="logo">
        </a>
      </strong>
    </div>
  </div>
  <div class="container">
    <div class="text-container">
      <h1>WE ASPIRE TO CREATE A DIVERSE AND INCLUSIVE SOFTWARE INDUSTRY.</h1>
      <p>We believe access for underrepresented communities is limited. As members of
        the tech community we see it as our responsibility to responsibly, sustainably,
        and ethically create new avenues for these communities to join the industry authentically,
        while inspiring other organizations to join us in this work. We have
        designed a system of change with technical training programs, facilitated
        access to industry conferences, meaningful apprenticeships, and supplemented
        with partnerships with other nonprofits for where our expertise ends.</p>
    </div>
  </div>
</header>
