@import "../../assets/scss/variables";

.supporters {
  padding: 60px 0 40px;
  .list {
    padding: 5px 0 0;
    display: flex;
    justify-content: center;
    text-align: left;
    > li {
      margin: 0 25px 20px;
      li {
        margin: 0 0 10px;
      }
    }
    a {
      color: $black;
    }
  }
}
