<section class="team text-center">
  <div class="wrap">
    <h1 class="has-ill-border white">MEET THE TEAM</h1>
    <ul class="list no-styled-list">
      <li>
        <a href="#">
          <div class="image-box">
            <img class="placeholder" src="" alt="">
          </div>
          <h2>GRAHAM CRACKER</h2>
          <span class="title">Title</span>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="image-box">
            <img class="placeholder" src="" alt="">
          </div>
          <h2>GRAHAM CRACKER</h2>
          <span class="title">Title</span>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="image-box">
            <img class="placeholder" src="" alt="">
          </div>
          <h2>GRAHAM CRACKER</h2>
          <span class="title">Title</span>
        </a>
      </li>
      <li>
        <a href="#">
          <div class="image-box">
            <img class="placeholder" src="" alt="">
          </div>
          <h2>GRAHAM CRACKER</h2>
          <span class="title">Title</span>
        </a>
      </li>
    </ul>
  </div>
</section>
