<section class="promo-content">
  <span class="ill"></span>
  <span class="ill second"></span>
  <span class="ill third"></span>
  <span class="ill fourth"></span>
  <span class="ill fifth"></span>
  <span class="ill sixth"></span>
  <span class="ill seventh"></span>
  <span class="ill eighth"></span>
  <span class="ill ninth"></span>
  <div class="road-container">
    <div class="road-map">
      <div class="step" *ngFor="let stepContent of modalContent" #step>
        <div class="teaser-text" (click)="openModal(template)" >{{stepContent.text | slice:0:70}} ... <span>Read more</span></div>
        <div class="box">
          <button type="button" class="btn slide-right" (click)="openModal(template)">{{stepContent.title}}</button>
          <ng-template #template>
            <div class="modal-header pb-0 border-0">
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title has-ill-border">{{stepContent.title}}</h4>
            </div>
            <div class="modal-body pt-0 text-center">
              <p>{{stepContent.text}}</p>
            </div>
          </ng-template>
        </div>
        <div (click)="toogleClass($event)" class="btn-pic"></div>
      </div>
    </div>
  </div>
</section>
