@import '../../../assets/scss/variables';

.promo-content {
  position: relative;
  z-index: 1;
  .ill {
    position: absolute;
    background: url("../../../assets/images/dot-med.svg") no-repeat;
    width: 62px;
    height: 62px;
    top: 38px;
    right: 7%;
    background-size: 100%;
    @media (min-width: 768px) {
      width: 116px;
      height: 116px;
      top: 58px;
    }
    &.second {
      background-image: url("../../../assets/images/landcluster-1.svg");
      width: 233px;
      height: 295px;
      top: -11px;
      left: 0;
      @media (min-width: 768px) {
        width: 506px;
        height: 637px;
        top: -50px;
      }
    }
    &.third {
      background-image: url("../../../assets/images/landcluster-2.svg");
      width: 218px;
      height: 421px;
      top: 212px;
      right: -41px;
      @media (min-width: 768px) {
        width: 504px;
        height: 940px;
        top: 280px;
        right: -41px;
      }
    }
    &.fourth {
      width: 65px;
      height: 65px;
      top: 452px;
      left: 12px;
      @media (min-width: 768px) {
        width: 100px;
        height: 100px;
        top: 700px;
        left: 107px;
      }
    }
    &.fifth {
      display: none;
      @media (min-width: 768px) {
        width: 120px;
        height: 120px;
        top: 1316px;
        right: 148px;
        display: block;
      }
    }
    &.sixth {
      background-image: url("../../../assets/images/landcluster-3.svg");
      width: 153px;
      height: 507px;
      top: 603px;
      left: -21px;
      @media (min-width: 768px) {
        width: 276px;
        height: 899px;
        top: 869px;
        left: -21px;
      }
    }
    &.seventh {
      background-image: url("../../../assets/images/dot-small.svg");
      width: 80px;
      height: 80px;
      top: auto;
      left: 232px;
      bottom: 433px;
      @media (min-width: 768px) {
        left: 126px;
        bottom: 250px;

      }
    }
    &.eighth {
      background-image: url("../../../assets/images/landcluster-4.svg");
      width: 190px;
      height: 611px;
      top: auto;
      bottom: -299px;
      right: -21px;
      @media (min-width: 768px) {
        width: 367px;
        height: 618px;
        bottom: 0;
      }
    }
    &.ninth {
      background-image: url("../../../assets/images/dot-large.svg");
      width: 75px;
      height: 75px;
      top: auto;
      bottom: -42px;
      left: -45px;
      @media (min-width: 768px) {
        width: 200px;
        height: 200px;
        bottom: -121px;
        left: -119px;
      }
    }
  }
  .road-container {
    display: flex;
    justify-content: center;
  }
  .road-map {
    background: url("../../../assets/images/road2.svg") no-repeat 50% -1px;
    // background-size: 100%;
    width: 560px;
    min-height: 2520px;
    position: relative;
    @media (max-width: 768px) {
      // background-size: 100%;
      width: 397px;
      min-height: 1799px;
    }
  }
  .step {
    position: absolute;
    top: 5px;
    left: 38.5%;
    //margin: 0 0 0 -52px;
    @media (min-width: 768px) {
     // margin: 0 0 0 -76px;
    }
    .teaser-text{
      position: absolute;
      width: 230px;
      top: 0px;
      left: 0px;
      font-size: 14px;
      background-color: #1fa7c5;
      padding: 10px;
      border-radius: 15px;
      color: white;
      transition: all 0.3s;
      transition-delay: 0.3s;
      opacity:0;
      cursor:pointer;
      visibility: hidden;
      span{
        font-weight: 900;
        font-size: 14px;
      }
      &:hover{
        background-color:#adadad;
      }
      @media (min-width: 768px) {
        top: 0;
        left: 67px;
        font-size:20px;
        width:300px;
      }
    }
    .btn-pic {
      background: url("../../../assets/images/map-marker2.svg") no-repeat;
      width: 38px;
      height: 38px;
      background-size: 100%;
      position: absolute;
      top: 9px;
      left: 8px;
      cursor: pointer;
      border-radius: 50px;
      box-shadow: 0 0 0 0 rgba(black, .2);
      animation: pulse 1.5s infinite;
      @media (min-width: 768px) {
        width: 46px;
        height: 46px;
        top: 13px;
        left: 13px;
      }
    }
    .box {
      padding: 12px 0 0 17px;
      position: absolute;
      top: 0;
      left: 30px;
      z-index: -1;
      overflow: hidden;

      .btn{
        transition: all 0.3s;
        transform: translate(-150px);
      }
      @media (min-width: 768px) {
        padding: 15px 0 0 17px;
        .btn{
          transition: all 0.3s;
          transform: translate(-150px);
        }
      }
    }
    &:nth-child(2) {
      top: 263px;
      left: 45%;
      margin: 0 0 0 22px;
      &.active {
        .teaser-text{
          transform: translate(-117px, 46px);
          @media (min-width: 768px) {
            transform:translate(5px, 61px);
          }
        }
        .box {
          z-index: 0;
          .btn {
            opacity: 1;
            transform: translate(-16px);
          }
        }
      }
      .box {
        left: -159px;
        padding-left: 17px;
        .btn {
          padding: 0 31px 0 10px;
          transform: translate(100px);
        }
      }
      @media (min-width: 768px) {
        top: 370px;
        left: 48%;
        .box {
          left: 25px;
          .btn {
            padding: 0 31px 0 44px;
            transform: translate(-100px);
          }
        }
      }
    }
    &:nth-child(3) {
      top: 458px;
      left: 47%;
      margin: 0 0 0 90px;
      &.active {
        .teaser-text{
          transform: translate(-117px, 46px);
          @media (min-width: 768px) {
            transform:translate(5px, 61px);
          }
        }
        .box {
          z-index: 0;
          .btn {
            opacity: 1;
            transform: translate(-16px);
          }
        }
      }
      .box {
        left: -155px;
        padding-left: 17px;
        .btn {
          padding: 0 31px 0 10px;
          transform: translate(100px);
        }
      }
      @media (min-width: 768px) {
        top: 655px;
        left: 54%;
        .box {
          left: 25px;
          .btn {
            padding: 0 31px 0 44px;
            transform: translate(-100px);
          }
        }
      }
      @media (min-width: 992px) {
        .box {
          .btn {
            padding: 0 36px 0 50px;
          }
        }
      }
    }
    &:nth-child(4) {
      top: 611px;
      left: 56%;
      &.active {
        .teaser-text{
          transform: translate(-117px, 46px);
          @media (min-width: 768px) {
            transform:translate(5px, 61px);
          }
        }
        .box {
          z-index: 0;
          .btn {
            opacity: 1;
            transform: translate(-16px);
          }
        }
      }
      .box {
        left: -174px;
        padding-left: 17px;
        .btn {
          padding: 0 31px 0 10px;
          transform: translate(100px);
        }
      }
      @media (min-width: 768px) {
        top: 863px;
        left: 37%;
        .box {
          left: 25px;
          .btn {
            padding: 0 31px 0 44px;
            transform: translate(-100px);
          }
        }
      }
    }
    &:nth-child(5) {
      top: 812px;
      left: 35%;
      @media (min-width: 768px) {
        top: 1115px;
        left: 35.5%;
      }
    }
    &:nth-child(6) {
      top: 1040px;
      left: 13%;

      @media (min-width: 768px) {
        top: 1450px;
        left: 13.5%;
      }
    }
    &:nth-child(7) {
      //margin: 0 0 0 16px;
      top: 1223px;
      .box {
        .btn {
          padding: 0 31px 0 25px;
        }
      }
      @media (min-width: 768px) {
        top: 1717px;
        left: 39.7%;
        .box {
          .btn {
            padding: 0 36px 0 50px;
          }
        }
      }
    }
    &:nth-child(8) {
      top: 1425px;
      left: 54%;
      &.active {
        .teaser-text{
          transform: translate(-117px, 46px);
          @media (min-width: 768px) {
            transform:translate(5px, 61px);
          }
        }
        .box {
          z-index: 0;
          .btn {
            opacity: 1;
            transform: translate(-16px);
          }
        }
      }
      .box {
        left: -146px;
        padding-left: 17px;
        .btn {
          padding: 0 31px 0 10px;
          transform: translate(100px);
        }
      }
      @media (min-width: 768px) {
        top: 2013px;
        left: 54%;
        .box {
          left: 25px;
          .btn {
            padding: 0 31px 0 44px;
            transform: translate(-100px);
          }
        }
      }
    }
    &:nth-child(9) {
      top: 1655px;
      left: 140px;
      @media (min-width: 768px) {
        //margin: 0 0 0 -99px;
        top: 2358px;
        left: 35.3%;
      }
    }
    &.active {
      .teaser-text{
        transform: translate(52px, 46px);
        opacity:1;
        visibility: visible;
        @media (min-width: 768px) {
          transform:translate(5px, 61px);
        }
      }
      .box {
        z-index: 0;
        .btn {
          opacity: 1;
          transform: translate(-23px);
        }
      }

    }
  }
  .btn {
    font: 700 #{$button-font-size}/#{$button-line-height} $main-font;
    background: $white;
    color: $blue-darker;
    opacity: 0;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    white-space: nowrap;
    text-overflow: ellipsis;
    border: 2px solid $blue-darker;
    height: $button-line-height + 1px;
    padding: 0 10px 0 25px;
    margin: 0;
    width: 100%;
    transition: opacity 0.8s;
    text-transform: uppercase;
    @media (min-width: 768px) {
      font-size: $desktop-button-font-size;
      line-height: $desktop-button-line-height;
      height: $desktop-button-line-height + 2px;
      padding: 0 36px 0 50px;
    }
    &:hover {
      background: $blue-darker;
      color: $white;
    }
  }
}

  .modal-body{
    p {
      font-size: 16px;
      line-height: 27px;
    }
    @media (min-width: 768px) {
      p{
        line-height: 35px;
        font-size: 22px;
      }
    }
  }

@keyframes pulse {
  0% {
    transform:scale(1);
  }
  70% {
    transform:scale(1.05);
    box-shadow: 0 0 0 15px rgba(white, 0);
  }
  100% {
    transform:scale(1);
    box-shadow: 0 0 0 0 rgba(white, 0);
  }
}
