<section class="sponsors text-center">
  <div class="container">
    <h1 class="has-ill-border">OUR SPONSORS</h1>
    <span class="promo">Bacon ipsum dolor amet swine spare ribs flank turducken jowl jerky. Brisket porchetta kielbasa pork belly.</span>
    <ul class="list no-styled-list">
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
    </ul>
  </div>
</section>
