<section class="sponsors text-center">
  <div class="wrap">
    <h1>OUR SPONSORS</h1>

    <p>Bacon ipsum dolor amet swine spare ribs flank turducken jowl jerky. Brisket porchetta kielbasa pork belly.</p>
    <ul class="list no-styled-list">
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
      <li>
        <a href="#">
          <img src="../../assets/images/placeholder-mastercard.png" alt="mastercard">
        </a>
      </li>
    </ul>
  </div>
</section>
