@import "../../assets/scss/variables";

.sponsors {
  background: $grey;
  padding: 68px 0 42px;
  z-index: 2;
  position: relative;
  .promo {
    max-width: 568px;
    display: block;
    margin: 0 auto 30px;
  }
  .list {
    display: flex;
    max-width: 616px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 0 30px;
    li {
      background: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      width: 150px;
      height: 150px;
      margin: 0 2px 2px 0;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      img {
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
  }
}
